.group
  .group__header
    .group__header__detail
      .group__header__detail__info
        .group__header__detail__info__name
          = @group.name
        .group__header__detail__info__member
          - @group.users.each do |user|
            Member:
            = user.name
      .group__header__edit
        Edit
  .group__chats
  = render partial:'message', collectoin: @messages
  .group__chat__post
    .group__chat__post__form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: "input-box group__chat__post__form__box", placeholder: "type a message"
        = f.label :image, class: "input-box__image group__chat__post__form__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: "group__chat__post__form__btn"