.group__contents
  - @messages.each do |message|
    .group__contents__message{data: {message_id: "#{message.id}"}}
      .group__contents__message__info
        .group__contents__message__info__who
          = message.user.name
        .group__contents__message__info__date
          = message.created_at.strftime("%Y/%m/%d %H:%M")
      .group__contents__message__body
        = image_tag message.image.url, class: 'group__contents__message__body__image' if message.image.present?
        .group__contents__message__body__text
          = message.body